<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>회원 입회신청 작성</title>
    <style>
        .register{
            background-color: rgb(231, 249, 255);
        }
        .modal{
            width: 800px;
            margin: 20px auto;
            padding: 10px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
        .container{
            display : flex;
            justify-content: space-between;
            padding: 15px;
        }
        select{
            width:100px;
        }
        button{
            margin-left: 5px;
        }
        input{
            width: 120px
        }
        #birthDMatchMessage {
            margin-left: 5px;
            font-size: 0.7em;
        }
        #hdpNoMatchMessage {
            margin-left: 5px;
            font-size: 0.7em;
        }
        #scrtNoMatchMessage {
            margin-left: 5px;
            font-size: 0.7em;
        }
        h2 {
            text-align: center;
            color: #333;
            margin: 30px auto;
        }
    </style>
</head>
<div th:replace="~{fragments/navbar :: globalNavbar}"></div>
<body>
    <h2>회원 입회신청 작성</h2>
    <div class="modal">
        <form id="applyForm" th:action="@{/apply/register}" method="post">
            <div class="register">
                <div class="container">
                    <div class="form-group">
                        <label>주민번호</label>
                        <input type="text" id="ssn1" name="ssn1" style="width: 70px;" maxlength="6"
                               th:value="${receiveApplyDTO.ssn1}"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                        >
                        -
                        <input type="text" id="ssn2" name="ssn2" style="width: 70px;" maxlength="7"
                               th:value="${receiveApplyDTO.ssn2}"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                        >
                    </div>
                    <div class="form-group">
                        <label>접수일자</label>
                        <input type="date" id="rcvD" name="rcvD" th:value="${receiveApplyDTO.rcvD}" readonly>
                    </div>
                    <div class="form-group">
                        <label>접수 일련번호</label>
                        <input type="text" id="rcvSeqNo" name="rcvSeqNo" th:value="${receiveApplyDTO.rcvSeqNo}" >
                    </div>
                    <div>
                        <button type="submit" th:formaction="@{/apply/detail}" onclick="return checkSsn()">조회</button>
                    </div>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var msg = /*[[${message}]]*/ null;

                    if (msg != null && msg.trim() !== "") {
                        alert(msg);
                    }
                    /*]]>*/
                </script>

                <hr>

                <div class="container">
                    <div class="form-group">
                        <label>신청일자</label>
                        <input type="date" id="applD" name="applD" th:value="${receiveApplyDTO.applD}">
                    </div>
                    <div class="form-group">
                        <label>신청구분</label>
                        <select class="apply-class-select" id="applClas" name="applClas" th:field="${receiveApplyDTO.applClas}" th:value="${receiveApplyDTO.applClas}">
                            <option value=""  selected>선택</option>
                             <option th:each="c : ${C007}"
                                     th:value="${c.code}"
                                     th:text="${c.codeNm}"
                             ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>브랜드</label>
                        <select class="apply-brand-select" id="brd" name="brd" th:field="${receiveApplyDTO.brd}" th:value="${receiveApplyDTO.brd}">
                            <option value=""  selected>선택</option>
                            <option th:each="c : ${C004}"
                                    th:value="${c.code}"
                                    th:text="${c.codeNm}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label>성명(한글)</label>
                        <input type="text" id="hgNm" name="hgNm"
                               th:value="${receiveApplyDTO.hgNm}"
                            oninput="this.value = this.value.replace(/[^가-힣ㄱ-ㅎㅏ-ㅣ\s]/g, '');"
                        >
                    </div>
                    <div class="form-group">
                        <label>성명(영문)</label>
                        <input type="text" id="engNm" name="engNm"
                               th:value="${receiveApplyDTO.engNm}"
                            oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')"
                        >
                    </div>
                    <div class="form-group">
                        <label>생년월일</label>
                        <input type="text" id="birthD" name="birthD"
                               th:value="${receiveApplyDTO.birthD}"
                            maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                        >
                        <div>
                            <span id="birthDMatchMessage"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label>결제일자</label>
                        <select class="bill-date-select" id="stlDd" name="stlDd" th:field="${receiveApplyDTO.stlDd}" th:value="${receiveApplyDTO.stlDd}">
                            <option value=""  selected>선택</option>
                            <option th:each="c : ${C009}"
                                    th:value="${c.code}"
                                    th:text="${c.codeNm}"
                            ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>결제방법</label>
                        <select class="bill-method-select" id="stlMtd" name="stlMtd" th:field="${receiveApplyDTO.stlMtd}" th:value="${receiveApplyDTO.stlMtd}">
                            <option value=""  selected>선택</option>
                            <option th:each="c : ${C002}"
                                    th:value="${c.code}"
                                    th:text="${c.codeNm}"
                            ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>결제은행</label>
                        <select class="bill-bank-select" id="bnkCd" name="bnkCd" th:field="${receiveApplyDTO.bnkCd}" th:value="${receiveApplyDTO.bnkCd}">
                            <option value=""  selected>선택</option>
                            <option th:each="c : ${C003}"
                                    th:value="${c.code}"
                                    th:text="${c.codeNm}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label>결제계좌</label>
                        <input type="text" id="stlAct" name="stlAct" style="width: 200px;"
                               th:value="${receiveApplyDTO.stlAct}"
                            pattern="[0-9-]*" oninput="this.value = this.value.replace(/[^0-9-]/g, '')"
                        >
                        <button type="button" onclick="checkStlAct()">인증</button>
                    </div>
                    <div class="form-group">
                        <label>결제계좌 확인여부</label>
                        <input type="hidden" id="prcsClas" name="prcsClas" th:value="${receiveApplyDTO.prcsClas}" style="width: 200px;" >
                        <input type="text" id="prcsClasValid" name="prcsClasValid" th:value="${receiveApplyDTO.prcsClas == '1'} ? '인증 완료' : ''" style="width: 200px;" disabled>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label>청구서 발송방법</label>
                        <select class="bill-send-method-select" id="stmtSndMtd" name="stmtSndMtd" th:field="${receiveApplyDTO.stmtSndMtd}" th:value="${receiveApplyDTO.stmtSndMtd}">
                            <option value=""  selected>선택</option>
                            <option th:each="c : ${C006}"
                                    th:value="${c.code}"
                                    th:text="${c.codeNm}"
                            ></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>우편번호</label>
                            <input type="text" id="billZip" name="billZip" th:value="${receiveApplyDTO.billZip}" style="width: 70px;" readonly>
                            <button type="button" onclick="PostCode()">...</button>
                            <input type="text" id="billAdr1" name="billAdr1" th:value="${receiveApplyDTO.billAdr1}" style="width: 270px; margin-left: 10px;" readonly>
                        </div>
                        <div>
                            <label>상세주소</label>
                            <input type="text" id="billAdr2" name="billAdr2" th:value="${receiveApplyDTO.billAdr2}" style="width: 400px;">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label>이메일</label>
                        <input type="text" id="emailAdr1" name="emailAdr1" th:value="${receiveApplyDTO.emailAdr1}" minlength="4" style="width: 100px;"
                            oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');"
                        >
                        @
                        <input type="text" id="emailAdr2" name="emailAdr2" th:value="${receiveApplyDTO.emailAdr2}" minlength="4" style="width: 80px;"
                            oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '');"
                        >
                        <select class="domain-select"  id="userEmailDomain" name="userEmailDomain" onchange="domainSelect()">
                            <option value=""  selected>선택</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>핸드폰 번호</label>
                        <input type="text" id="hdpNo" name="hdpNo" th:value="${receiveApplyDTO.hdpNo}" style="width: 100px;" maxlength="13"
                            oninput="this.value = this.value.replace(/[^0-9-]/g, '')"
                        >
                        <div>
                            <span id="hdpNoMatchMessage"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>비밀번호</label>
                        <input type="text" id="scrtNo" name="scrtNo" th:value="${receiveApplyDTO.scrtNo}" style="width: 100px;" maxlength="6"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                        >
                        <div>
                            <span id="scrtNoMatchMessage"></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label>불능 구분</label>
                        <input type="text" id="impsbCd" name="impsbCd" th:value="${receiveApplyDTO.impsbCd}" style="width: 200px;" disabled>
                    </div>
                    <div class="form-group">
                        <label>불능 사유명</label>
                        <input type="text" id="impsbCdNm" name="impsbCdNm" th:value="${receiveApplyDTO.impsbCdNm}" style="width: 350px;" disabled>
                    </div>
                </div>
                <div class="container">
                    <div style="margin-left: auto;">
                        <button type="submit" onclick="return validateForm()">등록</button>
                        <button type="submit" th:formaction="@{/apply/update}" onclick="return validateModifyForm()">수정</button>
                        <button type="button" onclick="resetForm()">초기화</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    /* 신청일 최대 = 접수일 */
    const applD = document.getElementById('applD');
    applD.max = document.getElementById('rcvD').value;

    /* 우편번호 불러오기 */
    function PostCode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보
                document.getElementById('billZip').value = data.zonecode;
                document.getElementById('billAdr1').value = addr;

                // 상세주소 필드로 이동
                document.getElementById('billAdr2').focus();
            }
        }).open();
    }


    /* 주민번호 체크 디지트 */
    function checkSsn() {
        let ssn1 = document.getElementById('ssn1');
        let ssn2 = document.getElementById('ssn2');
        const checkDigit = [2,3,4,5,6,7,8,9,2,3,4,5];

        let ssn1V = ssn1.value;
        let ssn2V = ssn2.value;

        let sum = 0;
        for(let i = 0; i < ssn1V.length; i++){
            sum = sum + (ssn1V[i] * checkDigit[i]);
        }
        for(let i = 0; i < ssn2V.length-1; i++){
            sum = sum + (ssn2V[i] * checkDigit[i+6]);
        }

        sum = sum % 11; // 11로 나눈 나머지
        sum = 11 - sum; // 나머지를 11에서 뺌

        if(ssn2V[6] != sum){
            alert('올바른 주민번호를 입력하여 주십시요.');
            return false;
        }

        const rcvSeqNo = document.getElementById('rcvSeqNo').value;
        if(!rcvSeqNo || rcvSeqNo === ""){
            alert("접수 일련번호를 입력해주세요.")
            return false;
        }
        console.log("성공");
        // alert('조회에 성공했습니다.');
        return true;
    }

    /* 폼 초기화 */
    function resetForm() {
        document.getElementById('ssn1').readonly = false;
        document.getElementById('ssn2').readonly = false;
        // document.getElementById('applyForm').reset();
        const form = document.getElementById('applyForm');

        // 접수일자 제외하고 초기화
        form.querySelectorAll('input').forEach(input => {
            if (input.type !== 'button' && input.type !== 'submit' && input.id !== 'rcvD') {
                input.value = '';
            }
        });

        form.querySelectorAll('select').forEach(select => {
            select.selectedIndex = 0;
        });
    }


    /* 생년월일 */
    let birthDVerify = false;
    function funcBirthDVerify() {
        const birthD = document.getElementById('birthD').value;
        const messageSpan = document.getElementById('birthDMatchMessage');

        if (birthD) {
            if (validateBirthD(birthD)) {
                messageSpan.textContent = '유효한 생년월일입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = true;

            } else {
                messageSpan.textContent = '생년월일은 8자입니다. ex) 19991018'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            birthDVerify = false;
        }
    }
    document.getElementById('birthD').addEventListener('input', function () {
        const birthD = this.value;
        const messageSpan = document.getElementById('birthDMatchMessage');

        if (birthD) {
            if (validateBirthD(birthD)) {
                messageSpan.textContent = '유효한 생년월일입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = true;

            } else {
                messageSpan.textContent = '생년월일은 8자입니다. ex) 19991018'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            birthDVerify = false;
        }
    });

    function validateBirthD(birthD) {
        const regex = /^(19|20)\d{6}$/;
        return regex.test(birthD);
    }

    /* 계좌번호 인증 */
    function checkStlAct() {
        const stlAct = document.getElementById('stlAct').value;
        if(!stlAct || stlAct === ""){
            alert('계좌번호를 입력해주세요.');
            return false;
        }
        else {
            document.getElementById('prcsClas').value = '1';
            document.getElementById('prcsClasValid').value = '인증 완료';
            alert('결제계좌가 인증되었습니다.');
            return true;
        }
    }

    /* 전화번호 */
    let hdpNoVerify = false;
    function funcHdpNo() {
        const hdpNo = document.getElementById('hdpNo').value;
        const messageSpan = document.getElementById('hdpNoMatchMessage');

        if (hdpNo) {
            if (validateHdpNo(hdpNo)) {
                messageSpan.textContent = '유효한 핸드폰 번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = true;

            } else {
                messageSpan.textContent = '다시 입력해주세요. ex) 010-1004-1004'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            hdpNoVerify = false;
        }
    }
    document.getElementById('hdpNo').addEventListener('input', function () {
        const hdpNo = this.value;
        const messageSpan = document.getElementById('hdpNoMatchMessage');

        if (hdpNo) {
            if (validateHdpNo(hdpNo)) {
                messageSpan.textContent = '유효한 핸드폰 번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = true;

            } else {
                messageSpan.textContent = '다시 입력해주세요. ex) 010-1004-1004'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            hdpNoVerify = false;
        }
    });

    function validateHdpNo(hdpNo) {
        const regex = /^01[016789]-\d{3,4}-\d{4}$/;
        return regex.test(hdpNo);
    }

    /* 비밀번호 */
    let scrtNoVerify = false;
    function funcScrtNoVerify() {
        const scrtNo = document.getElementById('scrtNo').value;
        const messageSpan = document.getElementById('scrtNoMatchMessage');

        if (scrtNo) {
            if (validateScrtNo(scrtNo, messageSpan) && checkScrtNo(scrtNo, messageSpan)) {
                messageSpan.textContent = '유효한 비밀번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                scrtNoVerify = true;

            } else {
                scrtNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            scrtNoVerify = false;
        }
    }
    document.getElementById('scrtNo').addEventListener('input', function () {
        const scrtNo = this.value;
        const messageSpan = document.getElementById('scrtNoMatchMessage');

        if (scrtNo) {
            if (validateScrtNo(scrtNo, messageSpan) && checkScrtNo(scrtNo, messageSpan)) {
                messageSpan.textContent = '유효한 비밀번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                scrtNoVerify = true;

            } else {
                scrtNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            scrtNoVerify = false;
        }
    });

    function validateScrtNo(scrtNo, messageSpan) {
        const regex = /^[0-9]{6}$/;
        if(regex.test(scrtNo)){
            return true;
        }
        else{
            messageSpan.textContent = '다른 비밀번호를 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }
    }

    function checkScrtNo(scrtNo, messageSpan) {
        // 생년월일과 동일한지
        const birthD = document.getElementById('birthD').value;
        if(birthD && birthD.slice(2,birthD.length) == scrtNo){
            messageSpan.textContent = '생년월일이 아닌 값을 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }
        // 전화번호 앞뒷자리와 동일한지
        const hdpNo = document.getElementById('hdpNo').value;
        if(hdpNo){
            var array = hdpNo.split("-");
            var hdpNo1 = array[1];
            var hdpNo2 = array[2];

            if(scrtNo.includes(hdpNo1) || scrtNo.includes(hdpNo2)){
                messageSpan.textContent = '전화번호가 아닌 값을 입력해주세요.'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                return false;
            }
        }

        // 동일 번호 존재하는지
        var regex = /(0000)|(1111)|(2222)|(3333)|(4444)|(5555)|(6666)|(7777)|(8888)|(9999)/;
        if(regex.test(scrtNo)){
            messageSpan.textContent = '동일 번호가 아닌 값을 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }

        // 연속 번호 존재하는지
        regex = /(0123)|(1234)|(2345)|(3456)|(4567)|(5678)|(6789)|(9876)|(8765)|(7654)|(6543)|(5432)|(4321)|(3210)/;
        if(regex.test(scrtNo)){
            messageSpan.textContent = '연속 번호가 아닌 값을 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }

        return true;
    }

    /* 이메일 도메인 복사하기 */
    function domainSelect()
    {
        const val = document.getElementById("userEmailDomain").value;
        document.getElementById("emailAdr2").value = val;
    }

    function validateApplD() {
        const applD = document.getElementById('applD').value;
        if (!applD || applD === "") {
            alert('신청일자를 입력해주세요.');
            return false;
        }
        return true;
    }

    function validateApplClas() {
        const applClas = document.getElementById('applClas').value;
        if (!applClas || applClas === "") {
            alert('신청구분을 선택해주세요.');
            return false;
        }
        return true;
    }

    function validateBrd() {
        const brd = document.getElementById('brd').value;
        if (!brd || brd === "") {
            alert('카드 브랜드를 선택해주세요.');
            return false;
        }
        return true;
    }

    function validateHgNm() {
        const hgNm = document.getElementById('hgNm').value;
        if (!hgNm || hgNm === "") {
            alert('성명(한글)을 입력해주세요.');
            return false;
        }
        return true;
    }

    function validateEngNm() {
        const engNm = document.getElementById('engNm').value;
        if (!engNm || engNm === "") {
            alert('성명(영문)을 입력해주세요.');
            return false;
        }
        return true;
    }

    function validateBirth() {
        const birthD = document.getElementById('birthD').value;
        if (!birthD || birthD === "") {
            alert('생년월일을 입력해주세요.');
            return false;
        }
        else if(!birthDVerify){
            alert('올바른 생년월일을 입력하여 주십시요.');
            return false;
        }
        return true;
    }

    function validateStlDd() {
        const stlDd = document.getElementById('stlDd').value;
        if (!stlDd || stlDd === "") {
            alert('결제일자를 선택해주세요.');
            return false;
        }
        return true;
    }

    function validateStlMtd() {
        const stlMtd = document.getElementById('stlMtd').value;
        if (!stlMtd || stlMtd === "") {
            alert('결제방법을 선택해주세요.');
            return false;
        }
        return true;
    }

    /* 결제은행 (결제방식 = '지로 1'인 경우 입력 불필요 */
    function validateBnkCd() {
        const bnkCd = document.getElementById('bnkCd').value;
        const stlMtd = document.getElementById('stlMtd').value;

        if(stlMtd === "1"){
            return true;
        }
        else if (!bnkCd || bnkCd === "") {
            alert('결제은행을 선택해주세요.');
            return false;
        }
        return true;
    }

    /* 결제계좌 (결제방식 = '지로 1'인 경우 입력 불필요 */
    function validateStlAct() {
        const stlAct = document.getElementById('stlAct').value;
        const prcsClas = document.getElementById('prcsClas').value;
        const stlMtd = document.getElementById('stlMtd').value;

        if(stlMtd === "1"){
            return true;
        }
        else if (!stlAct || stlAct === "") {
            alert('결제계좌를 입력해주세요.');
            return false;
        }
        else if(prcsClas !== '1'){
            alert('결제계좌를 인증해주세요.');
            return false;
        }
        alert('결제계좌가 인증되었습니다.')
        return true;
    }

    function validateSsn() {
        let ssn1 = document.getElementById('ssn1');
        let ssn2 = document.getElementById('ssn2');
        const checkDigit = [2,3,4,5,6,7,8,9,2,3,4,5];

        let ssn1V = ssn1.value;
        let ssn2V = ssn2.value;

        let sum = 0;
        for(let i = 0; i < ssn1V.length; i++){
            sum = sum + (ssn1V[i] * checkDigit[i]);
        }
        for(let i = 0; i < ssn2V.length-1; i++){
            sum = sum + (ssn2V[i] * checkDigit[i+6]);
        }

        sum = sum % 11; // 11로 나눈 나머지
        sum = 11 - sum; // 나머지를 11에서 뺌

        if(ssn2V[6] == sum){
            ssn1.readonly = true;
            ssn2.readonly = true;
            return true;
        }
        else{
            alert('올바른 주민번호를 입력하여 주십시요.');
            return false;
        }
    }

    function validateHdp() {
        const hdpNo = document.getElementById('hdpNo').value;
        if(!hdpNo || hdpNo === ""){
            alert("핸드폰 번호를 입력해주세요.")
            return false;
        }
        else if(!hdpNoVerify){
            alert('올바른 핸드폰 번호를 입력하여 주십시요.');
            return false;
        }
        return true;
    }

    function validateScrt() {
        const scrtNo = document.getElementById('scrtNo').value;
        if(!scrtNo || scrtNo === ""){
            alert("비밀번호를 입력해주세요.")
            return false;
        }
        else if(!scrtNoVerify){
            alert('올바른 비밀번호를 입력하여 주십시요.');
            return false;
        }
        return true;
    }


    /* 청구서 발송방법 & 그에 따른 체크 */
    /* 1. 우편(청구지 주소 필수), 2. E-MAIL(E-MAIL 필수), 3. 청구서 사절(청구지주소,E-MAIL 미입력 가능) */
    function validateStmtSndMtd() {
        const stmtSndMtd = document.getElementById('stmtSndMtd').value;
        if(!stmtSndMtd || stmtSndMtd === ""){
            alert("청구서 발송방법을 선택해주세요.");
            return false;
        }
        else if(stmtSndMtd === "1"){
            const billAdr1 = document.getElementById('billAdr1').value;
            const billAdr2 = document.getElementById('billAdr2').value;
            const billZip = document.getElementById('billZip').value;
            if(!billAdr1 || billAdr1 === "" || !billAdr2 || billAdr2 === "" || !billZip || billZip === ""){
                alert("(우편 방식) 주소를 입력해주세요");
                return false;
            }
            return true;
        }
        else if(stmtSndMtd === "2"){
            const emailAdr1 = document.getElementById('emailAdr1').value;
            const emailAdr2 = document.getElementById('emailAdr2').value;
            if(!emailAdr1 || emailAdr1 === "" || !emailAdr2 || emailAdr2 === ""){
                alert("(E-MAIL 방식) 이메일을 입력해주세요.");
                return false;
            }
            return true;
        }
        return true;
    }

    /* 청구서 방법의 필수 필드 아니여도, 입력했을시 검증 */
    function validateStmtSndMtdOther() {
        // 결제 계좌 입력한 경우 인증필요
        const prcsClas = document.getElementById('prcsClas').value;
        const stlAct = document.getElementById('stlAct').value;
        if (stlAct && prcsClas !== '1'){
            alert('결제계좌를 인증해주세요.');
            return false;
        }
        // 우편 관련 입력한 경우 다른 필드 입력필요
        const billAdr1 = document.getElementById('billAdr1').value;
        const billAdr2 = document.getElementById('billAdr2').value;
        const billZip = document.getElementById('billZip').value;
        if(billAdr1 || billAdr2 || billZip){
            if(billAdr1 && billAdr2 && billZip) // 전부 입력한 경우
                return true;
            else {
                alert("우편번호와 상세주소를 둘다 입력해주세요");
                return false;
            }
        }

        // 이메일 관련 입력한 경우 다른 필드 입력필요
        const emailAdr1 = document.getElementById('emailAdr1').value;
        const emailAdr2 = document.getElementById('emailAdr2').value;
        if(emailAdr1 || emailAdr2){
            if(emailAdr1 && emailAdr2)
                return true;
            else {
                alert("이메일과 도메인을 둘다 입력해주세요.");
                return false;
            }
        }

        return true;
    }

    /* 입력 폼 정보 체크 */
    function validateForm() {
        const impsbCd = document.getElementById('impsbCd').value;

        if(impsbCd) {
            alert("이미 등록된 신청서입니다. 수정 버튼을 눌러주세요.");
            return false;
        }
        else if(!validateSsn()
            || !validateApplD() || !validateApplClas() || !validateBrd()
            || !validateHgNm() || !validateEngNm() || !validateBirth()
            || !validateStlDd() || !validateStlMtd() || !validateBnkCd()
            || !validateStlAct()
            || !validateStmtSndMtd() || !validateStmtSndMtdOther()
            || !validateHdp() || !validateScrt())
        {
            return false;
        }
        else {
            alert("등록 완료!");
            return true;
        }
    }

    function validateModifyForm() {
        funcBirthDVerify();
        funcHdpNo();
        funcScrtNoVerify();

        const impsbCd = document.getElementById('impsbCd').value;

        if(!validateSsn()
            || !validateApplD() || !validateApplClas() || !validateBrd()
            || !validateHgNm() || !validateEngNm() || !validateBirth()
            || !validateStlDd() || !validateStlMtd() || !validateBnkCd()
            || !validateStlAct()
            || !validateStmtSndMtd() || !validateStmtSndMtdOther()
            || !validateHdp() || !validateScrt())
        {
            return false;
        }
        else {
            alert("수정 완료!");
            return true;
        }
    }


</script>
</html>