<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>회원 색인 조회</title>
    <style>
        .list{
            background-color: rgb(229, 243, 255);
            padding: 10px;
        }
        .modal{
            width: 1000px;
            height: 610px;
            margin: 30px auto;
            padding: 10px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
        .container{
            display : flex;
            justify-content: space-between;
            padding: 15px;
        }
        select{
            width:170px;
        }
        button{
            margin-left: 5px;
            width: 70px;
        }
        input{
            width: 160px
        }
        th, td {
            padding: 8px;
            border: 1px solid #bebebe;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            background-color: #b1d9ff;
        }
        label{
            margin-right:10px;
        }
        h2 {
            text-align: center;
            color: #333;
            margin: 30px auto;
        }
    </style>
</head>
<div th:replace="~{fragments/navbar :: globalNavbar}"></div>
<body>
    <h2>회원 색인 조회</h2>
    <div class="modal">
        <form id="detailForm" th:action="@{/user/list}" method="get">
            <div class="list">
                <div class="container">
                    <div class="form-group">
                        <label>성명</label>
                        <input type="text" id="hgNm" name="hgNm"
                               th:value="${userListDTO.hgNm}"
                           oninput="this.value = this.value.replace(/[^가-힣ㄱ-ㅎㅏ-ㅣ\s]/g, '');"
                        >
                    </div>
                    <div class="form-group">
                        <label>생년월일</label>
                        <input type="text" id="birthD" name="birthD"
                               th:value="${userListDTO.birthD}"
                               maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                        >
                        <div>
                            <span id="birthDMatchMessage"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>핸드폰 번호</label>
                        <input type="text" id="hdpNo" name="hdpNo" maxlength="13"
                               th:value="${userListDTO.hdpNo}"
                            oninput="this.value = this.value.replace(/[^0-9-]/g, '')"
                        >
                        <div>
                            <span id="hdpNoMatchMessage"></span>
                        </div>
                    </div>
                    <div>
                        <button type="submit" onclick="return validateForm()">조회</button>
                    </div>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var msg = /*[[${message}]]*/ null;

                    if (msg != null && msg.trim() !== "") {
                        alert(msg);
                    }
                    /*]]>*/
                </script>
            </div>
            <hr>
        </form>
        <div style="margin: 5px 10px;">조회결과</div>
        <div style="height:400px; overflow-x: auto; overflow-y: auto; border: 1px solid #ccc; padding: 10px">
            <table>
                <thead>
                    <tr>
                        <th>주민번호</th>
                        <th>성명(한글)</th>
                        <th>생년월일</th>
                        <th>핸드폰번호</th>
                        <th>결제 은행</th>
                        <th>결제 계좌</th>
                        <th>주소</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userDetailDTO, stat : ${userListDTO.userDetailDTOList}">
                        <td th:text="${userDetailDTO.ssn}"></td>
                        <td th:text="${userDetailDTO.hgNm}"></td>
                        <td th:text="${userDetailDTO.birthD}"></td>
                        <td th:text="${userDetailDTO.hdpNo}"></td>
                        <td th:text="${userDetailDTO.bnkCd}"></td>
                        <td th:text="${userDetailDTO.stlAct}"></td>
                        <td th:text="${userDetailDTO.billAdr}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div style="margin-left: auto;">
                <button type="button" onclick="resetForm()">초기화</button>
<!--                <button>닫기</button>-->
            </div>
        </div>
    </div>
</body>
<script>
    function resetForm() {
        const form = document.getElementById('detailForm');

        form.querySelectorAll('input').forEach(input => {
            if (input.type !== 'button' && input.type !== 'submit') {
                input.value = '';
            }
        });
    }

    /* 생년월일 */
    let birthDVerify = false;
    function funcBirthDVerify() {
        const birthD = document.getElementById('birthD').value;
        const messageSpan = document.getElementById('birthDMatchMessage');

        if (birthD) {
            if (validateBirthD(birthD)) {
                messageSpan.textContent = '유효한 생년월일입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = true;

            } else {
                messageSpan.textContent = '생년월일은 8자입니다. ex) 19991018'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            birthDVerify = false;
        }
    }
    document.getElementById('birthD').addEventListener('input', function () {
        const birthD = this.value;
        const messageSpan = document.getElementById('birthDMatchMessage');

        if (birthD) {
            if (validateBirthD(birthD)) {
                messageSpan.textContent = '유효한 생년월일입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = true;

            } else {
                messageSpan.textContent = '생년월일은 8자입니다. ex) 19991018'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            birthDVerify = false;
        }
    });

    function validateBirthD(birthD) {
        const regex = /^(19|20)\d{6}$/;
        return regex.test(birthD);
    }

    /* 전화번호 */
    let hdpNoVerify = false;
    function funcHdpNo() {
        const hdpNo = document.getElementById('hdpNo').value;
        const messageSpan = document.getElementById('hdpNoMatchMessage');

        if (hdpNo) {
            if (validateHdpNo(hdpNo)) {
                messageSpan.textContent = '유효한 핸드폰 번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = true;

            } else {
                messageSpan.textContent = '다시 입력해주세요. ex) 010-1004-1004'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            hdpNoVerify = false;
        }
    }
    document.getElementById('hdpNo').addEventListener('input', function () {
        const hdpNo = this.value;
        const messageSpan = document.getElementById('hdpNoMatchMessage');

        if (hdpNo) {
            if (validateHdpNo(hdpNo)) {
                messageSpan.textContent = '유효한 핸드폰 번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = true;

            } else {
                messageSpan.textContent = '다시 입력해주세요. ex) 010-1004-1004'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            hdpNoVerify = false;
        }
    });

    function validateHdpNo(hdpNo) {
        const regex = /^01[016789]-\d{3,4}-\d{4}$/;
        return regex.test(hdpNo);
    }

    function validateHgNm() {
        const hgNm = document.getElementById('hgNm').value;
        if (!hgNm || hgNm === "") {
            alert('성명(한글)을 입력해주세요.');
            return false;
        }
        return true;
    }

    function validateBirth() {
        const birthD = document.getElementById('birthD').value;
        if (!birthD || birthD === "") {
            alert('생년월일을 입력해주세요.');
            return false;
        }
        else if(!birthDVerify){
            alert('올바른 생년월일을 입력하여 주십시요.');
            return false;
        }
        return true;
    }

    function validateHdp() {
        const hdpNo = document.getElementById('hdpNo').value;
        if(!hdpNo || hdpNo === ""){
            alert("핸드폰 번호를 입력해주세요.")
            return false;
        }
        else if(!hdpNoVerify){
            alert('올바른 핸드폰 번호를 입력하여 주십시요.');
            return false;
        }
        return true;
    }

    function validateForm() {
        funcBirthDVerify();
        funcHdpNo();

        if(!validateHgNm() || !validateBirth() || !validateHdp())
        {
            return false;
        }
        return true;
    }
</script>
</html>