<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>회원 입회신청 작성</title>
    <style>
        .apply{
            background-color: rgb(231, 249, 255);
        }
        body{
            width: 800px;
            margin: 50px auto;
            padding: 10px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
        .container{
            display : flex;
            justify-content: space-between;
            padding: 15px;
        }
        select{
            width:100px;
        }
        button{
            margin-left: 5px;
        }
        input{
            width: 120px
        }
        #birthDMatchMessage {
            margin-left: 5px;
            font-size: 0.7em;
        }
        #hdpNoMatchMessage {
            margin-left: 5px;
            font-size: 0.7em;
        }
        #scrtNoMatchMessage {
            margin-left: 5px;
            font-size: 0.7em;
        }
    </style>
</head>
<body>
<form id="applyForm" onsubmit="return validateForm()">
    <div class="apply">
        <div class="container">
            <div class="form-group">
                <label>주민번호</label>
                <input type="hidden" id="ssn" name="ssn">
                <input type="text" id="ssn1" name="ssn1" style="width: 70px;" maxlength="6"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                >
                -
                <input type="text" id="ssn2" name="ssn2" style="width: 70px;" maxlength="7"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                >
            </div>
            <div class="form-group">
                <label>접수일자</label>
                <input type="date" id="rcvD" name="rcvD" value="2026-06-10" readonly>
            </div>
            <div class="form-group">
                <label>접수 일련번호</label>
                <input type="text" id="rcvSeqNo" name="rcvSeqNo" readonly>
            </div>
            <div>
                <button type="button" onclick="checkSsn()">조회</button>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="form-group">
                <label>신청일자</label>
                <input type="date" id="applD" name="applD">
            </div>
            <div class="form-group">
                <label>신청구분</label>
                <select class="apply-class-select" id="applClas" name="applClas">
                    <option value="">선택</option>
                    <!-- <option th:each=""></option> -->
                </select>
            </div>
            <div class="form-group">
                <label>브랜드</label>
                <select class="apply-brand-select" id="brd" name="brd">
                    <option value="">선택</option>
                    <!-- <option th:each=""></option> -->
                </select>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>성명(한글)</label>
                <input type="text" id="hgNm" name="hgNm"
                       oninput="this.value = this.value.replace(/[^가-힣ㄱ-ㅎㅏ-ㅣ\s]/g, '');"
                >
            </div>
            <div class="form-group">
                <label>성명(영문)</label>
                <input type="text" id="engNm" name="engNm"
                       oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '')"
                >
            </div>
            <div class="form-group">
                <label>생년월일</label>
                <input type="text" id="birthD" name="birthD"
                       maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                >
                <div>
                    <span id="birthDMatchMessage"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>결제일자</label>
                <select class="bill-date-select" id="stlDd" name="stlDd">
                    <option value="">선택</option>
                    <!-- <option th:each=""></option> -->
                </select>
            </div>
            <div class="form-group">
                <label>결제방법</label>
                <select class="bill-method-select" id="stlMtd" name="stlMtd">
                    <option value="">선택</option>
                    <!-- <option th:each=""></option> -->
                </select>
            </div>
            <div class="form-group">
                <label>결제은행</label>
                <select class="bill-bank-select" id="bnkCd" name="bnkCd">
                    <option value="">선택</option>
                    <!-- <option th:each=""></option> -->
                </select>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>결제계좌</label>
                <input type="text" id="stlAct" name="stlAct" style="width: 200px;"
                       pattern="[0-9-]*" oninput="this.value = this.value.replace(/[^0-9-]/g, '')"
                >
                <button type="button" onclick="checkStlAct()">인증</button>
            </div>
            <div class="form-group">
                <label>결제계좌 확인여부</label>
                <input type="text" id="stlActValid" name="stlActValid" style="width: 200px;" readonly>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>청구서 발송방법</label>
                <select class="bill-send-method-select" id="stmtSndMtd" name="stmtSndMtd">
                    <option value="">선택</option>
                    <!-- <option th:each=""></option> -->
                </select>
            </div>
            <div class="form-group">
                <div>
                    <label>우편번호</label>
                    <input type="text" id="billZip" name="billZip" style="width: 100px;" readonly>
                    <button onclick="PostCode()">...</button>
                    <input type="text" id="billAdr1" name="billAdr1" style="width: 190px; margin-left: 6px;" readonly>
                </div>
                <div>
                    <label>상세주소</label>
                    <input type="text" id="billAdr2" name="billAdr2" style="width: 350px;">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>이메일</label>
                <input type="hidden" id="emailAdr" name="emailAdr">
                <input type="text" id="userEmail1" name="userEmail1" minlength="4" style="width: 100px;"
                       oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');"
                >
                @
                <input type="text" id="userEmail2" name="userEmail2" minlength="4" style="width: 80px;"
                       oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '');"
                >
                <select class="domain-select"  id="userEmailDomain" name="userEmailDomain" onchange="syncSelect()">
                    <option value="" disabled selected>선택</option>
                    <!-- <option th:each="domain : ${emailDomains}"
                            th:value="${domain.codeName}"
                            th:text="${domain.codeName}"></option> -->
                </select>
            </div>
            <div class="form-group">
                <label>핸드폰 번호</label>
                <input type="text" id="hdpNo" name="hdpNo" style="width: 100px;" maxlength="13"
                       oninput="this.value = this.value.replace(/[^0-9-]/g, '')"
                >
                <div>
                    <span id="hdpNoMatchMessage"></span>
                </div>
            </div>
            <div class="form-group">
                <label>비밀번호</label>
                <input type="text" id="scrtNo" name="scrtNo" style="width: 100px;" maxlength="6"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                >
                <div>
                    <span id="scrtNoMatchMessage"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>불능 구분</label>
                <input type="text" id="impsbCd" name="impsbCd" style="width: 200px;" readonly>
            </div>
            <div class="form-group">
                <label>불능 사유명</label>
                <input type="text" id="impsbClas" name="impsbClas" style="width: 350px;" readonly>
            </div>
        </div>
        <div class="container">
            <div style="margin-left: auto;">
                <button type="submit">등록</button>
                <button>수정</button>
                <button type="button" onclick="resetForm()">초기화</button>
            </div>
        </div>
    </div>
</form>
</body>
<script>
    /* 신청일 최대 = 접수일 */
    const applD = document.getElementById('applD');
    applD.max = document.getElementById('rcvD').value;

    /* 우편번호 불러오기 */
    function PostCode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보
                document.getElementById('billZip').value = data.zonecode;
                document.getElementById('billAdr1').value = addr;

                // 상세주소 필드로 이동
                document.getElementById('billAdr2').focus();
            }
        }).open();
    }

    let ssnVerify = false;

    /* 주민번호 체크 디지트 */
    function checkSsn() {
        let ssn1 = document.getElementById('ssn1');
        let ssn2 = document.getElementById('ssn2');
        const checkDigit = [2,3,4,5,6,7,8,9,2,3,4,5];

        let ssn1V = ssn1.value;
        let ssn2V = ssn2.value;

        let sum = 0;
        for(let i = 0; i < ssn1V.length; i++){
            sum = sum + (ssn1V[i] * checkDigit[i]);
        }
        for(let i = 0; i < ssn2V.length-1; i++){
            sum = sum + (ssn2V[i] * checkDigit[i+6]);
        }

        sum = sum % 11; // 11로 나눈 나머지
        sum = 11 - sum; // 나머지를 11에서 뺌

        if(ssn2V[6] == sum){
            alert('조회에 성공했습니다.');
            document.getElementById('ssn').value = ssn1V + '-' + ssn2V;
            ssn1.disabled = true;
            ssn2.disabled = true;
            ssnVerify = true;
        }
        else{
            alert('올바른 주민번호를 입력하여 주십시요.');
        }
    }

    /* 폼 초기화 */
    function resetForm() {
        document.getElementById('applyForm').reset();
    }


    /* 생년월일 */
    let birthDVerify = false;
    document.getElementById('birthD').addEventListener('input', function () {
        const birthD = this.value;
        const messageSpan = document.getElementById('birthDMatchMessage');

        if (birthD) {
            if (validateBirthD(birthD)) {
                messageSpan.textContent = '유효한 생년월일입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = true;

            } else {
                messageSpan.textContent = '생년월일은 8자입니다. ex) 19991018'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                birthDVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            birthDVerify = false;
        }
    });

    function validateBirthD(birthD) {
        const regex = /^(19|20)\d{6}$/;
        return regex.test(birthD);
    }

    /* 계좌번호 인증 */
    function checkStlAct() {
        const stlAct = document.getElementById('stlAct').value;
        if(!stlAct || stlAct === ""){
            alert('계좌번호를 입력해주세요.');
            return false;
        }
        else {
            document.getElementById('stlActValid').value = '인증 완료';
        }
    }

    /* 전화번호 */
    let hdpNoVerify = false;
    document.getElementById('hdpNo').addEventListener('input', function () {
        const hdpNo = this.value;
        const messageSpan = document.getElementById('hdpNoMatchMessage');

        if (hdpNo) {
            if (validateHdpNo(hdpNo)) {
                messageSpan.textContent = '유효한 핸드폰 번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = true;

            } else {
                messageSpan.textContent = '다시 입력해주세요. ex) 010-1004-1004'
                messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                hdpNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            hdpNoVerify = false;
        }
    });

    function validateHdpNo(hdpNo) {
        const regex = /^01[016789]-\d{3,4}-\d{4}$/;
        return regex.test(hdpNo);
    }

    /* 비밀번호 */
    let scrtNoVerify = false;
    document.getElementById('scrtNo').addEventListener('input', function () {
        const scrtNo = this.value;
        const messageSpan = document.getElementById('scrtNoMatchMessage');

        if (scrtNo) {
            if (validateScrtNo(scrtNo, messageSpan) && checkScrtNo(scrtNo, messageSpan)) {
                messageSpan.textContent = '유효한 비밀번호입니다.';
                messageSpan.style.cssText = 'color: green; font-size: 0.7em; margin-left: 5px;';
                scrtNoVerify = true;

            } else {
                // messageSpan.textContent = '다른 비밀번호를 입력해주세요.'
                // messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
                scrtNoVerify = false;
            }

        } else {
            messageSpan.textContent = '';
            scrtNoVerify = false;
        }
    });

    function validateScrtNo(scrtNo, messageSpan) {
        const regex = /^[0-9]{6}$/;
        if(regex.test(scrtNo)){
            return true;
        }
        else{
            messageSpan.textContent = '다른 비밀번호를 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }
    }

    function checkScrtNo(scrtNo, messageSpan) {
        // 생년월일과 동일한지
        const birthD = document.getElementById('birthD').value;
        if(birthD && birthD.slice(2,birthD.length) == scrtNo){
            messageSpan.textContent = '생년월일이 아닌 값을 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }
        // 전화번호 앞뒷자리와 동일한지
        const hdpNo = document.getElementById('hdpNo').value;
        if(hdpNo){
            var idx1 = hdpNo.indexOf('-');
            var idx2 = hdpNo.substring(idx1).indexOf('-');
            var hdpNo1 = hdpNo.slice(index+1, idx2);
            var hdpNo2 = hdepNo.slice(idx2);

            console.log(hdpNo1);
            console.log(hdpNo2);
        }


        // 동일 번호 존재하는지
        var regex = /^(\d)\1+$/;
        // if(regex.test(scrtNo)){
        //     messageSpan.textContent = '동일 번호가 아닌 값을 입력해주세요.'
        //     messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
        //     return false;
        // }
        // 연속 번호 존재하는지
        regex = /(0123)|(1234)|(2345)|(3456)|(4567)|(5678)|(6789)|(7890)|(0987)|(9876)|(8765)|(7654)|(6543)|(5432)|(4321)|(3210)/;
        if(regex.test(scrtNo)){
            messageSpan.textContent = '연속 번호가 아닌 값을 입력해주세요.'
            messageSpan.style.cssText = 'color: red; font-size: 0.7em; margin-left: 5px;';
            return false;
        }

        return true;
    }

    /* 입력 폼 정보 체크 */


</script>
</html>